@import url(bootstrap.css);
body{
    background-image: url("images/map.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: aqua;
    text-align: center;
}
div{
    color: white;
}
h3{
    color: white;

}