/* @import url(bootstrap.css); */
body{
    background-image: url("images/map.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

div{
    color: white;
}
#about1{
    color: black;
    font-size: 20px;
    position: relative;
    top: 720px;
    bottom: 500px;
}

#span{
    position: absolute;
    cursor: pointer;
    color: black;
    right: 1rem;
}


.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;   
  
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:black;
    text-transform: capitalize;
}

#head{
    color: aqua;
}
#a1,#a2,#a3{
    color: white;
}